<div>
  <!--
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Yellow Path                                                              |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Un clic sobre la categoría debería enviar un evento al componente padre. |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  -->
  <span class="blink-font" (click) = "notificarCategoriaSeleccionada(category.id)" *ngFor="let category of categories">
    {{ category.name }}
  </span>
</div>
